# inspiration from https://github.com/Nemo157/roaring-rs/blob/master/.travis.yml
language: rust
rust:
  - stable
  - beta
  - nightly-2018-10-27
cache: cargo
addons:
  apt:
    packages:
      - gcc-avr
      - binutils-avr
      - avr-libc
      - libgtk-3-dev
# before_script:
  # - (cargo install rustfmt || true)
  # - bash -c 'if [[ "$TRAVIS_RUST_VERSION" == "nightly" ]]; then
      # cargo install clippy --force;
    # fi'
script:
  - export PATH=$PATH:~/.cargo/bin
  # - cargo fmt -- --write-mode=diff
  - cargo build --features strict && cargo test --features strict
  - cargo build --no-default-features --features strict && cargo test --no-default-features --features strict
  - bash -c 'if [[ "$TRAVIS_RUST_VERSION" == "nightly-2018-10-27" ]]; then
       cargo build --features "strict jit" && cargo test --features "strict jit";
    fi'
  - bash -c 'if [[ "$TRAVIS_RUST_VERSION" == "nightly-2018-10-27" ]]; then
       cargo build --no-default-features --features "strict jit" && cargo test --no-default-features --features "strict jit";
    fi'
